.emp-details {
  min-height: 80vh;
  margin: 20px 20px 20px 20px;
  padding: 20px 20px 20px 80px;
  clear: both;
  border-radius: 10px;
  font-family: Montserrat;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
}
.emp-details .q1 .radio-container {
  width: 37%;
  float: left;
  margin: 0 40px 0 0;
  cursor: pointer;
  height: 40px;
  background: #cccccc;
  border-radius: 20px;
  border: 2px solid gray;
}
.emp-details .q1 .radio-container:last-child {
  margin: 0 0 0 0;
}
.emp-details .q1 input[type="radio"]:checked,
.emp-details .q1 input[type="radio"]:not(:checked) {
  position: absolute;
  left: -9999px;
}
.emp-details .q1 input[type="radio"]:checked + label,
.emp-details .q1 input[type="radio"]:not(:checked) + label {
  position: relative;
  padding-left: 40px;
  cursor: pointer;
  line-height: 18px;
  font-size: 16px;
  font-weight: 500;
  display: inline-block;
  color: white;
  margin: 9px 0 0 30px;
}

.emp-details .q1 input[type="radio"]:checked + label:before,
.emp-details .q1 input[type="radio"]:not(:checked) + label:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 18px;
  height: 18px;
  border: 1px solid gray;
  border-radius: 100%;
  background: #fff;
}

.emp-details .q1 input[type="radio"]:checked + label:after,
.emp-details .q1 input[type="radio"]:not(:checked) + label:after {
  content: "";
  width: 12px;
  height: 12px;
  background: gray;
  position: absolute;
  top: 3px;
  left: 3px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

.emp-details .q1 input[type="radio"]:not(:checked) + label:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}

.emp-details .q1 input[type="radio"]:checked + label:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.emp-details .q3 .radio-container {
  float: none;
  width: 30%;
  margin: 0 0 10px 0;
}
.emp-details .q4 .radio-container {
  float: left;
  width: 30%;
  margin: 0 25px 0 0;
}

.emp-details .heading1 {
  font-size: 22px;
  color: #62635d;
  font-weight: 600;
  margin: 17px 0 40px 0;
  /* font-style: italic; */
}
.emp-details .heading2 {
  margin: 35px 0 10px 0;
}
.emp-details .h61 {
  font-size: 16px;
  color: #62635d;
  margin: 35px 0 15px 0;
  padding: 0 0 0 4px;
}
.emp-details .h61.mm {
  font-size: 16px;
  color: #62635d;
  margin: 35px 0 0px 0;
  padding: 0 0 0 4px;
}
.emp-details .mini-msg {
  font-size: 14px;
  color: #62635d;
  margin: 0 0 15px 0;
  padding: 0 0 0 4px;
}
.emp-details .select-option1 {
  width: 30%;
  /* height: 50px; */
}
.emp-details .select-option-big {
  width: 47%;
}
.emp-details .select-option2 {
  width: 17%;
  margin: 0 15px 0 0;
}
.emp-details  .ant-select-selection--single {
  background: #cccccc;
  border:2px solid gray;
  border-radius: 20px;
  height: 41px;
}
.emp-details .ant-select-selection--single:active {
  border: 2px solid gray;
  box-shadow: none;
}
.emp-details .ant-select-selection--single:focus {
  border: 2px solid gray;
  box-shadow: none;
}
.emp-details .ant-select-selection-selected-value{
  
}


.emp-details .bg-o .ant-select-selection--single {
  background: rgb(251, 149, 0);
  border:2px solid rgb(251, 149, 0);
  border-radius: 20px;
  height: 41px;
}
.emp-details .bg-o .ant-select-selection--single:active {
  border:2px solid rgb(251, 149, 0);
  box-shadow: none;
}
.emp-details .bg-o .ant-select-selection--single:focus {
  border:2px solid rgb(251, 149, 0);
  box-shadow: none;
}
.emp-details .ant-select-selection__rendered {
  line-height: 37px;
  color: white;
  font-weight: 600;
  padding: 0 0 0 12px;
}
.emp-details .ant-select-arrow {
  color: white;
  padding: 0 10px 0 0;
}

.emp-details .ant-select-arrow path {
  stroke-width: 161px;
  stroke: white;
}
.emp-details .btn-div button {
  margin: 0 20px 0 0;
  padding: 10px 35px;
  border: none;
  border-radius: 3px;
  font-weight: 600;
  color: white;
}
.emp-details .btn-div {
  margin: 20px 0 0 0;
}
.emp-details .btn-div .btn1 {
  background: gray;
}
.emp-details .btn-div .btn2 {
  background: #fb9500;
}
.emp-details .btn-div .btn2 {
  height: 40px;
}
.emp-details .input {
  margin: 0 0 22px 0;
}
.emp-details .input input {
  width: 47%;
  height: 40px;
  background: #cccccc;
  border-radius: 20px;
  border: 2px solid gray;
  outline: none;
  padding: 0 20px 0 40px;
  font-weight: 600;
  color: white;
}
.emp-details .bg-orange input {
  background: rgb(251, 149, 0);
  border: 2px solid rgb(251, 149, 0);
}

.emp-details .input input::placeholder {
  color: white;
}

.emp-details .input2 {
  margin: 0 0 0 0;
  float: left;
  border-radius: 20px;
  border: 2px solid gray;
  width: 30%;
  height: 40px;
  padding: 0 0 0 15px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  background: #cccccc;
}
.emp-details .input2.bg-o {
  margin: 0 0 0 0;
  float: left;
  border-radius: 20px;
  border: 2px solid rgb(251, 149, 0);
  width: 30%;
  height: 40px;
  padding: 0 0 0 15px;
  color: white;
  font-weight: 600;
  font-size: 20px;
  background: rgb(251, 149, 0);
}

.emp-details .input2disabled {
  background: #cccccc;
  border-radius: 20px;
  border: 2px solid gray;
}
.emp-details .input2disabled input {
  background: #cccccc !important;
}
.emp-details .input-edit-btn {
  height: 40px;
  width: 70px;
  margin: 0 0 0 20px;
  float: left;
  cursor: pointer;
}
.emp-details .input-edit-btn span {
  line-height: 40px;
  /* padding:0 0 0 10px; */
  font-size: 18px;
  font-weight: 600;
  float: left;

  /* font-family: inherit; */
}
.emp-details .input-edit-btn .span1::before {
  padding: 0 8px 0 0;
}
.emp-details .input2 .pre {
  line-height: 36px;
  float: left;
}

.emp-details .input2 input {
  width: 85%;
  height: 36px;
  border: none;
  outline: none;
  background: #cccccc;
  padding: 0 15px;
  font-weight: 600;
  color: white;
  font-size: 16px;
}
.emp-details .input2.bg-o input {
  width: 85%;
  height: 36px;
  border: none;
  outline: none;
  background: rgb(251, 149, 0);
  padding: 0 15px;
  font-weight: 600;
  color: white;
  font-size: 16px;
}
.emp-details .input2simple input {
  padding: 0 0 0 5px;
}

.emp-details .input2 input::placeholder {
  color: white;
}

.emp-details .input3 {
  margin: 0 0 0px 0;
}
.emp-details .input3 input {
  width: 30%;
  height: 40px;
  background: rgb(251, 149, 0);
  border-radius: 20px;
  border: 2px solid rgb(251, 149, 0);
  outline: none;
  padding: 0 20px 0 20px;
  font-weight: 600;
  color: white;
}

.emp-details .input3 input::placeholder {
  color: white;
}

.emp-details .textarea-input {
  width: 47%;
}
.emp-details .textarea-input textarea {
  width: 100%;
  resize: none;
  height: 100px;
  outline: none;
  border-radius: 5px;
  color: white;
  padding: 10px 10px;
  border: none;
  
}
.emp-details .textarea-input.bg-o textarea{
  background: rgb(251, 149, 0);
}
.emp-details .textarea-input textarea::placeholder {
  color: white;
}
.emp-details .textarea-input textarea:focus {
  border: none;
}

.emp-details .date-picker svg{
  /* margin: 0 0 0 20px; */
}