.topStep_main{
  width: 99%;
  display: flex;
  height: 130px;
  align-items: center;
  justify-content: center;
  padding: 80px 20px 20px 40px;
  clear: both;
  border-radius: 10px;
  font-family: Montserrat;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
}
.step_cont{
    width: 70%;
    height: 56% !important;
    display: flex;
    align-items: center;
    justify-content: center;
    background: white;

}

.processing .ant-steps-item-title{
  width: 70px;
  font-size: 12px;
  position: relative;
  height: 60px;
  top: 20px !important;
}

.complete .ant-steps-item-title{
  width: 70px;
  font-size: 12px;
  position: relative;
  color: #fb9500 !important;
  height: 60px;
  top: 20px !important;
}
 
.processing .ant-steps-icon-dot {
  background:  rgb(153, 153, 153) !important;
  width: 50px !important;
  height: 50px !important;
  position: relative;
  top: -20px !important;
  left: -26px !important;
}
.complete .ant-steps-icon-dot {
  background:  #fb9500 !important;
  width: 50px !important;
  height: 50px !important;
  position: relative;
  top: -20px !important;
  left: -26px !important;
}
.processing .ant-steps-item-tail::after{
  background:  rgb(153, 153, 153) !important;
}
.complete .ant-steps-item-tail::after{
  background:  #fb9500 !important;
}

.step_cont .ant-steps-item-description{
  position: relative;
  top:-83px !important;
  color: white !important;
  left: -5px;  
}