.progresBtn{
  height: 31px;
  padding: 1px 50px;
  background: #FB9500;
  text-align: center;
  color: #FFFFFF;
  width: 281px;
  border: none;
}
@keyframes animate-stripes {
  0% {
    background-position: 0 0;
  }

  100% {
    background-position: 60px 0;
  }
}

@keyframes auto-progress {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.progress-bar {
  margin: auto;
  background-color: #FFFFFF;
  height: 31px;
  width: 281px;
  box-shadow: 0 1px 5px #fff inset, 0 1px 0 #fff;
  border: 1px solid #000;
}

.stripes {
  background-size: 30px 30px;
}

.stripes.animated {
  animation: animate-stripes 0.6s linear infinite;
}

.stripes.animated.slower {
  animation-duration: 1.75s;
}


.progress-bar-inner {
  display: block;
  height: 31px;
  width: 0%;
  background-color: #FB9500;
  box-shadow: 0 1px 0 rgba(255, 255, 255, .5) inset;
  position: relative;
  animation: auto-progress 4s infinite linear;
}
.orangeBg{
  background: #FB9500;
  padding: 14px 60px;
  border-radius: 6px;
}
.innerDiv{
  background: #fff;
  text-align: center;
  padding: 8px;
  border-radius: 6px;
}

.MuiPaper-root{
  border : 2px solid rgb(251, 149, 0);
  border-radius: 20px !important;
  maxWidth: 55%;
}
.MuiDialogContent-root{
  text-align: center;
}
.MuiDialog-paperWidthSm {
  max-width: 800px !important;
  border-radius: 18px;
  width: 100%;
}
.result-con {
  margin: 20px 20px 40px 20px;
  border-radius: 12px;
  box-shadow: 0px 0px 10px 5px rgba(0, 0, 0, 0.05);
  /* padding: 0 0 10px 0; */
  font-family: Montserrat;
}
.result-con .logo {
  height: 125px;
  width: 100%;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
  text-align: center;
  padding: 20px;
  /*background: #fb9500;*/
}
.result-con .logo img {
  width: 300px;
  height: auto;
  /* margin: 20px; */
}
.result-con .d1 {
  width: 80%;
  margin: 0px auto 0 auto;
}
.result-con .d1 h1 {
  font-size: 27px;
  padding: 0 16px;
  font-weight: 400;
  color: rgb(88, 88, 88);
  text-align: center;
}
.result-con .d1 .p1 {
  font-size: 60px;
  padding: 0 16px;
  font-weight: 500;
  color: rgb(88, 88, 88);
  text-align: center;
}
.result-con .d1 .amount-div {
  height: 130px;
  padding: 40px 0 0 0;
  width: 95%;
  margin: 0;
  float: right;
  border-radius: 10px;
  background: #fb9500;
}
.result-con .d1 .amount-div h1 {
  font-size: 3rem;
  margin: 0;
  text-align: center;
  color: white;
  padding: 0;
  overflow: hidden;
  line-height: 1;
}
.result-con .d1 .amount-div p {
  color: white;
  text-align: right;
  font-size: 14px;
  font-weight: 700;
  padding: 5px 60px 0 25px;
}
.result-con .d1 .meter-div {
  height: 80px;
  text-align: right;
  width: 80%;
  border-radius: 10px;
  color: black;
}
.result-con .d1 .meter-div img {
  width: 65%;
  max-width: 100%;
  margin: 0 10px 0 0;
}
.result-con .d1 .p2 {
  width: 65%;
  font-size: 11.5px;
  padding: 0 15px;
  margin: 20px 0 5px 150px;
  font-weight: 400;
  color: rgb(88, 88, 88);
  text-align: center;
  font-style: normal;
  line-height: 1.9em;
}
.result-con .d1 .p2 em {
  text-decoration: underline;
  font-style: normal;
}
.result-con .warning-div .w5 {
  color: white;
  background: #fb9500;
  font-size: 12px;
  padding: 3px 0;
  text-align: center;
  margin: 40px 0 0 0;
}
.result-con .warning-div .warnings {
  background: gray;
  padding: 1px 0 20px 0;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}
.result-con .warning-div .warnings p {
  width: 70%;
  color: white;
  font-size: 13px;
  font-weight: 600;
  margin: 20px auto;
}

.btncheck{
  height: 31px;
  padding : 1px 50px;
  margin: 60px 0 60px 380px;
  background: #fb9500;
  text-align: center;
  color:#FFFFFF;
}