/* First */
.first {
  width: 100%;
  max-height: 297mm;
  margin-left: auto;
  margin-right: auto;
  /* padding: 0px 35px; */
  padding: 0px 30px;
}
.first-wrapper {
  border: 1.5px solid #74c7ff;
  border-top: none !important;
  /* padding: 30px; */
  padding: 0px 30px 30px 30px;
  margin: 0px 1px 0px 2px;
}
.main-heading {
  font-weight: bolder;
  font-family: bahnschrift;
  letter-spacing: -0.11rem;
  color: #e4188f;
  margin-top: -44px;
  background-color: white;
  width: fit-content;
  padding-left: 25px;
  margin-bottom: 40px;
}
.heading {
  font-family: bahnschrift;
  color: #40a0f0;
  font-weight: bolder !important;
  letter-spacing: -0.05rem;
}
.text-bold {
  color: rgb(14, 55, 75);
  /* font-size: 0.8rem; */
  font-size: 1.1rem;
  font-family: Arial, Helvetica, sans-serif;
}
.border-dotted {
  border-bottom: 0.1rem dashed #64b9ff;
}
.mrgn-btm {
  margin-bottom: 1.6rem !important;
}
.input {
  border: 0px solid #35648a;
}
.input:focus {
  border: 1px solid dodgerblue;
}
.input-min {
  width: 100%;
  height: 20px;
  margin-bottom: 16px;
  text-align: center;
}
.iban-input-wrapper {
  margin-right: 0.4rem;
}
.date {
  width: 27px;
  height: 28px;
  margin-right: 0.4rem;
  border: 1px solid rgb(41, 78, 75);
  text-align: center;
}
.date::-webkit-outer-spin-button,
.date::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.date::placeholder {
  color: rgb(184, 182, 182);
}
.input-mrgn-btm {
  margin-bottom: 10px !important;
}
@media print {
  @page {
    size: A4;
  }
  /* First */
  .first {
    width: 50% !important;
    -webkit-print-color-adjust: exact;
  }
  .first-wrapper {
    border: 0.1rem solid #86cefd !important;
    border-top: none !important;
    padding: 0px 23px 20px 23px !important;
    margin: 0px !important;
    -webkit-print-color-adjust: exact;
  }
  .text-bold {
    font-size: 0.9rem !important;
    -webkit-print-color-adjust: exact;
  }
  .input {
    height: 23px !important;
    -webkit-print-color-adjust: exact;
  }
  .input-min {
    width: 100%;
    margin-bottom: 16px;
    text-align: center;
  }
  .iban-input-wrapper {
    margin-right: 0.25rem;
  }
  .input-mrgn-btm {
    margin-bottom: 6px !important;
    -webkit-print-color-adjust: exact;
  }
  .mrgn-btm {
    margin-bottom: 1.55rem !important;
    -webkit-print-color-adjust: exact;
  }
  .date {
    width: 22px !important;
    height: 22px !important;
    margin-right: 0.35rem !important;
    -webkit-print-color-adjust: exact;
  }
  .hide-on-print {
    visibility: hidden !important;
    -webkit-print-color-adjust: exact;
  }
}
