@font-face {
  font-family: WeissenhofGrotesk;
  src: url("../../../assets/fonts/WeissenhofGroteskRegular[TheFontsMaster.com].otf")
    format("opentype");
}

@font-face {
  font-family: WeissenhofGroteskBold;
  src: url("../../../assets/fonts/WeissenhofGroteskBold[TheFontsMaster.com].otf")
    format("opentype");
}

@font-face {
  font-family: WeissenhofGroteskMedium;
  src: url("../../../assets/fonts/WeissenhofGroteskMedium[TheFontsMaster.com].otf")
    format("opentype");
}

.ptsb-form {
  font-size: small;
  font-family: "WeissenhofGrotesk";
}

.split-input {
  font-size: 1rem;
  padding: 0px;
  font-family: monospace;
  height: 24px;
}

.accountNumber {
  width: 1.7em;
  padding: 0;
}

.accountNumber:focus {
  border-color: #4e7aeb;
}

#accountNumber {
  width: 34em;
}

.ppsn {
  width: 19.3em;
}

.date {
  width: 4.3em;
}

.divider {
  border: 1px solid #96a2c1;
}

.divider-dotted {
  border: 1px dotted #96a2c1;
}

.ptsb-form .color-primary {
  color: #0e2a72;
}

.ptsb-form ul,
.ptsb-form ol {
  font-size: 1.5rem;
}

.w-95 {
  width: 95% !important;
}

.w-90 {
  width: 90% !important;
}

.w-87 {
  width: 87% !important;
}

.w-85 {
  width: 85% !important;
}

.w-80 {
  width: 80% !important;
}

.w-70 {
  width: 70% !important;
}

.w-65 {
  width: 65% !important;
}

.w-63 {
  width: 63% !important;
}

.w-60 {
  width: 60% !important;
}

.w-56 {
  width: 56% !important;
}

.w-40 {
  width: 40% !important;
}

.w-37 {
  width: 37% !important;
}

.w-35 {
  width: 35% !important;
}

.w-31 {
  width: 31% !important;
}

.w-30 {
  width: 30% !important;
}

.w-20 {
  width: 20% !important;
}

.w-10 {
  width: 10% !important;
}

.primary-input {
  border: 1px solid #0e2a72;
  border-radius: 0;
}

.no-left-border {
  border-left: none !important;
}

.no-right-border {
  border-right: none !important;
}

.input-placeholder {
  padding: 0 0.75rem;
  background-color: #fff;
}

.font-light {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.black-box {
  border: 1px solid black;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ptsb-form input[type="radio"] {
  border: 1px solid #0e2a72;
  padding: 0.75em;
  -webkit-appearance: none;
}

.ptsb-form input[type="radio"]:checked {
  background: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mPk0yr6DwACowGrvvjVHwAAAABJRU5ErkJggg==)
    no-repeat center center;
  background-size: 0.5em 0.5em;
}

.ptsb-form input[type="radio"]:focus {
  outline-color: transparent;
}

.border-left-1 {
  border-left: 1px solid #0e2a72 !important;
}

.border-right-1 {
  border-right: 1px solid #0e2a72 !important;
}

.border-top-1 {
  border-top: 1px solid #0e2a72 !important;
}

.border-bottom-1 {
  border-bottom: 1px solid #0e2a72 !important;
}

.border-1 {
  border: 1px solid #0e2a72 !important;
}

.ptsb-form th {
  font-family: "WeissenhofGroteskMedium";
  text-align: center;
}

.euro {
  font-size: 0.7rem;
}

table td input {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  margin: 0;
  font-size: 0.7rem !important;
}

#App1 {
  position: relative;
  font-size: 23px;
}

#app2-2 {
  position: relative;
  left: 40px;
  bottom: 3px;
}

.table-check {
  position: relative;
  right: 40px;
}

.double-arrow-list {
  list-style: none;
}

.double-arrow-list li:before {
  color: #0e2a72;
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.form-control:focus {
  border-color: #4e7aeb;
}

.label-style {
  font-size: 14px;
}

section {
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

.ptsb-form h1 {
  font-family: "WeissenhofGroteskBold";
  font-size: 1.2rem;
  margin: 0;
}

.ptsb-form h2 {
  font-family: "WeissenhofGroteskMedium";
  font-size: 1.1rem;
  margin: 0;
  font-weight: bolder;
}

.ptsb-form h4 {
  font-family: "WeissenhofGroteskMedium";
  font-size: 0.92rem;
  margin: 0;
}

.ptsb-form p {
  font-size: 0.8rem;
  margin: 0;
  line-height: 1.2;
}

.ptsb-form i {
  font-size: 0.8rem;
  margin: 0;
}

.ptsb-form label {
  color: black;
  font-size: 0.8rem;
  margin: 0;
}

.ptsb-form .primary-input {
  height: 25px;
}

.ptsb-form li {
  margin: 0;
  font-size: 0.8rem;
}

.checkbox-div {
  content: "&nbsp;";
  height: 20px;
  width: 20px;
  border: 1px solid #0e2a72;
}

.checkbox-div-checked {
  height: 10px;
  width: 10px;
  margin: 3.5px auto;
  background-color: #0e2a72;
}

.print-button {
  height: 70px;
  width: 180px;
}

#futureChanges {
  height: 50px;
  border-color: black;
}

.special-note {
  font-size: 0.82rem;
}

.page4 p,
labels,
.page5 p,
labels {
  font-size: 12px;
  line-height: 15px;
}

.page5 p {
  line-height: 12px;
}

.page6 p {
  font-size: 11px;
}

.small-font p {
  line-height: 2px;
}

.small-font ol {
  padding: 0;
  margin-left: 10px;
  line-height: 13px;
}

.page1 label {
  font-size: 0.7rem;
}

.page1 input {
  font-size: 0.8rem;
}

.page2 h2 {
  font-size: 0.93rem;
}

.page2 label {
  font-size: 0.69rem;
}

.page2 th {
  padding: 5px;
  font-size: 0.75rem;
}

.page2 h4 {
  font-size: 0.75rem;
}

.page2 p {
  line-height: 1.5;
  font-size: 0.7rem;
}

.page2 .checkbox-div {
  height: 17px;
  width: 17px;
}

.page2 .checkbox-div-checked {
  height: 8px;
  width: 8px;
  margin: 3px auto;
}

#checkFuture .checkbox-div {
  height: 14px;
  width: 14px;
}

#checkFuture .checkbox-div-checked {
  height: 6px;
  width: 6px;
  margin: 3px auto;
}

.ptsb-form .header {
  all: unset;
  font-size: 0.75rem;
}
.page4 p {
  font-size: 11px;
}
.page4 label {
  font-size: 10.8px;
}
.p4-right p {
  font-size: 10.4px;
}
.p4-textchange {
  font-size: 0.67rem;
}

.mt-little {
  margin-top: 0.2rem !important;
}

.mt-4p5 {
  margin-top: 2.5rem;
}

.mt-6 {
  margin-top: 5rem;
}