@font-face {
  font-family: WeissenhofGrotesk;
  src: url("../../../assets/fonts/Weissenhof\ Grotesk\ Regular\ [TheFontsMaster.com].otf")
    format("opentype");
}

html {
  /* font-size: small; */
  text-rendering: optimize-speed;
}

body {
  font-family: "WeissenhofGrotesk";
}

.split-input {
  font-size: 1rem;
  padding: 0px;
  font-family: monospace;
  height: 24px;
}

.accountNumber {
  width: 1.7em;
}

.accountNumber:focus {
  border-color: #4e7aeb;
}

#accountNumber {
  width: 34em;
}

.ppsn {
  width: 19.3em;
}

.date {
  width: 4.3em;
}

.divider {
  border: 1px solid #96a2c1;
}

.divider-dotted {
  border: 1px dotted #96a2c1;
}

.color-primary {
  color: #0e2a72;
}

ul,
ol {
  font-size: 1.5rem;
}

.w-60 {
  width: 60% !important;
}

.w-30 {
  width: 30% !important;
}

.w-20 {
  width: 40% !important;
}

.w-40 {
  width: 40% !important;
}

.primary-input {
  border: 1px solid #0e2a72;
  border-radius: 0;
}

.no-left-border {
  border-left: none !important;
}

.no-right-border {
  border-right: none !important;
}

.input-placeholder {
  padding: 0 0.75rem;
  background-color: #fff;
}

.font-light {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 100;
}

.black-box {
  border: 1px solid black;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
}

input[type="radio"] {
  border: 1px solid #0e2a72;
  padding: 0.75em;
  -webkit-appearance: none;
}

input[type="radio"]:checked {
  background: url(data:image/gif;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAYAAAAfFcSJAAAADUlEQVR42mPk0yr6DwACowGrvvjVHwAAAABJRU5ErkJggg==)
    no-repeat center center;
  background-size: 0.5em 0.5em;
}

input[type="radio"]:focus {
  outline-color: transparent;
}

.table-bordered > tbody > tr > td,
.table-bordered > tbody > tr > th,
.table-bordered > tfoot > tr > td,
.table-bordered > tfoot > tr > th,
.table-bordered > thead > tr > td,
.table-bordered > thead > tr > th {
  border: 1px solid #0e2a72;
}

table td {
  height: 40px;
  position: relative;
}

th {
  text-align: center;
}

table td input {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  margin: 0;
  height: 100%;
  width: 100%;
  border: none;
  padding: 10px;
  box-sizing: border-box;
}

#App1 {
  position: relative;
  font-size: 23px;
}
#app2-2 {
  position: relative;
  left: 40px;
  bottom: 3px;
}

.table-check {
  position: relative;
  right: 40px;
}

.double-arrow-list {
  list-style: none;
}

.double-arrow-list li:before {
  color: #0e2a72;
  content: "\00BB \0020";
}

textarea:hover,
input:hover,
textarea:active,
input:active,
textarea:focus,
input:focus,
button:focus,
button:active,
button:hover,
label:focus,
.btn:active,
.btn.active {
  outline: 0px !important;
  -webkit-appearance: none;
  box-shadow: none !important;
}

.form-control:focus {
  border-color: #4e7aeb;
}

.label-style {
  font-size: 14px;
}

section {
  width: 21cm;
  height: 29.7cm;
  display: block;
  margin: 0 auto;
  margin-bottom: 0.5cm;
  box-shadow: 0 0 0.5cm rgba(0, 0, 0, 0.5);
}

.lastPage {
  height: 34cm;
}

h1 {
  font-size: 1.1rem;
  font-weight: bold;
  margin: 0;
}

h2 {
  font-size: 1rem;
  margin: 0;
}

h4 {
  font-size: 0.95rem;
  margin: 0;
}

p {
  font-size: 0.8rem;
  margin: 0;
}

i {
  font-size: 0.8rem;
  margin: 0;
}

label {
  font-size: 0.8rem;
  margin: 0;
}

.primary-input {
  height: 25px;
}

table td {
  height: 32px;
}

li {
  margin: 0;
  font-size: 0.8rem;
}

.checkbox-div {
  content: "&nbsp;";
  height: 20px;
  width: 20px;
  border: 1px solid black;
}

.checkbox-div-checked {
  height: 10px;
  width: 10px;
  margin: 3.5px auto;
  background-color: #0e2a72;
}

.print-button {
  height: 70px;
  width: 180px;
}
